fastapi==0.115.5
uvicorn[standard]==0.32.1
sqlmodel==0.0.21
sqlalchemy==2.0.36
psycopg2-binary==2.9.10
pydantic[email]==2.10.3
python-dotenv==1.0.1
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0
cryptography==44.0.2
pandas==2.2.3
httpx==0.28.1
alembic==1.14.0
numpy==1.26.4
